.navbarWrapper {
  :global {
    .ant-input-affix-wrapper-lg {
      border-radius: 40px;
    }

    .ant-input-affix-wrapper-lg,
    .ant-input {
      width: 288px;
      background-color: #f3f3f3;
    }

    .ant-input-affix-wrapper-lg>input.ant-input:focus,
    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused,
    .ant-input-affix-wrapper {
      border: none;
      box-shadow: none;
    }
  }



  a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: rgb(69, 191, 228);
    }
  }

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  // trạng thái mặc định
  background: transparent;
  color: black !important;
  // hiệu ứng transition
  transition: background-color 0.4s ease, color 0.1s ease, box-shadow 0.4s ease;

  &.scrolled {
    background: #F5F5F5;//light gray
    color: black !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}
//backgound roster
.hero{
  background: linear-gradient(to bottom, rgba(255, 255, 255, .8) 1%, transparent 100%);
}